# See gitignore(5) or http://git-scm.com/docs/gitignore for syntax.
#
# These should all be checked.  bin is questionable, as it would match
# directories we have checked in currently.  Therefore it is disabled.
.DS_Store
*.jar
/build
/src_holding
/temp
/unused
*.puz
